<div class="backgroundLogin">
    <div class="form">
        <div class="signin">Sign into your account!</div>

        <div class="input-container m30t">
            <input class="input" type="text" placeholder="Username">
        </div>
        <div class="input-container m20t">
            <input class="input" type="password" placeholder="Password">
        </div>
        <div class="button-container m30t m10b">
            <button class="button">Log in</button>
        </div>
    </div>
</div>