<div class="background-register">
    <div class="form">
        <div class="register-text">Create your new account!</div>

        <div class="input-container m30t">
            <input class="input" type="text" placeholder="E-mail">
        </div>
        <div class="input-container m20t">
            <input class="input" type="text" placeholder="Username">
        </div>
        <div class="input-container m20t">
            <input class="input" type="password" placeholder="Password">
        </div>
        <div class="input-container m20t">
            <input class="input" type="password" placeholder="Repeat password">
        </div>
        <div class="button-container m30t m10b">
            <button class="button">Register</button>
        </div>
    </div>
</div>